/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/views/template
/vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/BiddingStatusesController.php
app/Models/bidding_statuses.php
.idea/workspace.xml
cacert.pem
/storage/logs/*
